<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="field, center">
        <%= form.label :title %>
        <span id="offset"><%= form.text_field :title %></span>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="field, center">
        <%= form.label :description %>
        <%= form.text_area :description %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group, center">
        <%= form.file_field :image, :class => "button" %>
        <% if @recipe.image? %>
          <%= image_tag @recipe.image.url, class: "recipe-show" %>
          <%= form.check_box :remove_image %>
            Remove Image
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="center">Add Ingredients</h3>
        <div class="center">
          <%= form.fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', f: ingredient %>
          <% end %>
        </div>
        <div class="links">
        <%= link_to_add_association 'Add Ingredient', form, :ingredients %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="center">Add Steps</h3>
          <div class="center">
            <%= form.fields_for :steps do |step| %>
              <%= render 'step_fields', f: step %>
            <% end %>
          </div>
        <div class="links">
        <%= link_to_add_association 'Add Step', form, :steps %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="center">
          <div class="actions">
        <%= form.submit "Update Recipe", :class => "button" %>
          </div>
      </div>
    </div>
  </div>
<% end %>
