<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-2">
</div>
	<div class="col-8">
	<h3 class="center">
		<%= @recipe.title %>
	</h3>
	<p class="center">
		  <%= @recipe.description %>
	</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="image">
			<% if @recipe.image? %>
				<%= image_tag @recipe.image.url, class: "recipe-show" %>
			<% end %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-4">
	</div>
	<div class="col-4 ingredients">
		<h3 class="center">Ingredients</h3>
		<ul>
			<% for @ingredient in @recipe.ingredients %>
				<li><%= @ingredient.content %></li>
			<% end %>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-4">
	</div>
	<div class="col-4 steps">
		<h3 class="center">Steps</h3>
		<ol>
			<% for @step in @recipe.steps %>
				<li><%= @step.direction %></li>
			<% end %>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col">
		<p class="links", "center">
		<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
		<%= link_to 'Back', recipes_path %>
		</p>
	</div>
</div>